.page {
  padding: 16px 16px 96px 16px;
}

.header {
  margin-top: var(--zaui-safe-area-inset-top, 16px);
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.zaui-header::after {
  display: none;
}
